body {
    padding: 0 2em;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
}
h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
}
h2 {
    color: #167F92;
    font-size: x-large;
} 
